
<!-- POST -->
 <li class="list-group-item">
  <div class="row">
  <div class='col-md-1'>
    <div class="front-avater">
        <%=link_to image_tag(question.user.avatar.url(:thumb), class: 'img-rounded'), question.user %>
    </div>
  </div>
  <div class="col-md-10">
   <h4 class="list-group-item-heading"><%=link_to question.name, question %></h4>
   <p class="list-group-item-text"><%= truncate (strip_tags question.body), length: 150 %></p>
   <a href='#'  class="small">7 comments</a> . <a href='#'  class="small">Categories</a> . <a href="#" class='small'>2 days ago</a> . <a href="#" class='small'>2 views</a>
  </div>
  </div>
 </li>
<!-- POST -->
