<!-- <div class="sidebarblock">
  <h3>Related Questions</h3>
  <div class="divline"></div>
  <div class="blocktxt">

    <% User.last(3).each do |user| %>
      <div class="media">
        <div class="media-left">
          <%= link_to (image_tag user.avatar.url(:thumb), class:'img-rounded'), user_path(user)  %>
        </div>
        <div class="media-body">
          <p class="media-heading"><%= link_to  (user.fullname? ? user.fullname : user.username), user_path(user) %></p>
          <p>Intersted in: <%=  user.categories.map{|a| link_to a.name, a}.join(", ").html_safe %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div> -->
