<div class="ui small modal share-modal">
  <i class="close icon"></i>
  <div class="header" style="text-align: center;">
    <i class="share alternate icon"></i>SHARE THIS POST
  </div>
  <div class="content">
    <h3 class="share-name header"></h3>
    <div  class="ui centered content-margin grid">
        <div class="three wide">
          <a class="ui circular facebook icon button" id="facebook" target="_blank">
            <i class="facebook big icon"></i>
          </a>
        </div>

        <div class="three wide">
          <a class="ui circular twitter icon button" id="twitter" target="_blank">
            <i class="twitter big icon"></i>
          </a>
        </div>
        <div class="three wide">
          <a class="ui circular linkedin icon button" id="linkedin" target="_blank">
            <i class="linkedin  big icon"></i>
          </a>
        </div>
        <div class="three wide">
          <a class="ui circular google plus icon button" target="_blank" id="google-plus">
            <i class="google plus big icon"></i>
          </a>
        </div>
        <div class="three wide">
          <a class="ui circular google plus icon button" target="_blank" id="reddit">
            <i class="reddit alien big icon"></i>
          </a>
        </div>
        <div class="three wide">
          <a class="ui circular google plus icon button" target="_blank" id="hacker">
            <i class="hacker news big icon"></i>
          </a>
        </div>
  </div>
  <p align='center' class="centered">Or share the following link</p>
  <div class="ui form">
    <div class="field">
      <input type="text" id='share-link-form' autocomplete="off" spellcheck="false">
    </div>
  </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>

<div class="ui small modal ask-some-one">
  <div class="header" style="text-align: center;">
    <i class="share alternate mail"></i>Ask someone you know that can answer this question.
  </div>

  <div class="content">
    <%= form_tag  class:"ui form" do %>
      <div class="field">
        <%= text_field_tag  placeholder:"Search Onozor" %>
      </div>
    <% end %>
    <div  class="ui centered content-margin grid">

    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
