<div class="ui small modal share-modal">
  <i class="close icon"></i>
  <div class="header" style="text-align: center;">
    <i class="share alternate icon"></i>SHARE THIS POST
  </div>
  <div class="content">
    <h3 class="share-name header"></h3>
    <div  class="ui centered content-margin grid">
        <div class="three wide">
          <button class="ui circular facebook icon button">
            <i class="facebook big icon"></i>
          </button>
        </div>
        <div class="three wide">
          <button class="ui circular twitter icon button">
            <i class="twitter big icon"></i>
          </button>
        </div>
        <div class="three wide">
          <button class="ui circular linkedin icon button">
            <i class="linkedin  big icon"></i>
          </button>
        </div>
        <div class="three wide">
          <button class="ui circular google plus icon button">
            <i class="google plus big icon"></i>
          </button>
        </div>
        <div class="three wide">
          <button class="ui circular google plus icon button">
            <i class="reddit alien big icon"></i>
          </button>
        </div>
        <div class="three wide">
          <button class="ui circular google plus icon button">
            <i class="hacker news big icon"></i>
          </button>
        </div>
  </div>
  <p align='center' class="centered">Or share the following link</p>
  <div class="ui form">
    <div class="field">
      <input type="text" id='share-link-form' autocomplete="off" spellcheck="false">
    </div>
  </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
