<div class="content-block-title">How To Ask Question</div>
<div class="content-block">
  <div class="content-block-inner">
    <h4>  Welcome to  Inquire! </h4>

    <p> We’d love to help you, but the reality is that not every question gets answered. To improve your chances, here are some tips:

    <h4>  Search, and research </h4>

    <p>  Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone. Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant answer!</p>
  </div>
</div>


<div class="content-block-title">Try our more advanced search!</div>
<div class="content-block">
  <div class="content-block-inner">
    <h4>  Be on-topic   </h4>

    <p>  Our community is defined by a specific set of topics in the help center; please stick to those topics and avoid asking for opinions or open-ended discussion. If your question is about the site itself, ask on our meta-discussion site. If you’re looking for a different topic, it might be covered on another  site.</p>

    <h4>  Be specific</h4>

    </p> If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.   </p>

  </div>
</div>

    <div class="content-block-title">Make it relevant to others</div>
    <div class="content-block">
      <div class="content-block-inner">

    </p>  We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.    </p>

    <h4>  Keep an open mind  </h4>

    <p>  The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.   </p>



  </div>
  </div>

<div class="list-block">
  <ul>
        <li>
              <a href="/questions/new" class="close-panel item-link">

              <div class="item-content">
                <div class="item-media"> </div>
                <div class="item-inner">
                  <div class="link_name theme-red  item-title">Proceed</div>
                </div>
              </div></a></li>

  </ul>
</div>

<% title "Asking Advise" %>
