
<div class="toolbar">
  <div class="toolbar-inner">
    <a href="/" class="link"><i class="glyphicon glyphicon-home blue"></i></a>
    <a href="/users" class="link"><i class="glyphicon glyphicon-user darkgray"></i></a>
    <a href="/tags" class="link"><i class="glyphicon glyphicon-tag darkgray"></i></a>
    <a href="#" data-popover=".popover-menu" class="open-popover link "><i class="glyphicon glyphicon-tasks darkgray"></i></a>
  </div>
</div>



               <div class="list-block">

                  <ul>
                <% @questions.each do |q|  %>
                     <li><%= link_to (q), class:"close-panel item-link"  do %>
                        <div class="item-content">
                          <div class="item-media"> <%= image_tag q.user.avatar.url(:thumb), size:"50x50" %> </div>
                          <div class="item-inner">
                            <div class="link_name theme-red  item-title"><%= q.name %></div>
                            <div class="item-after"><span class="badge2" id="open-badge"><%= q.answers_count %></span></div>
                          </div>
                        </div><% end %></li>
                 <% end %>
                  </ul>
                </div>


<% title "INQUIRE" %>



