
<h3>Start Asking Question</h3>
  <div class="alert alert-info">
   <strong> How to Ask</strong>
    We prefer questions that can be answered, not just discussed.
    Provide details. Share your research.
  </div>

<%= render 'form' %>

