<% flash.each do |type, message| %>
<div class="ui <%= semantic_flash(type) %> message">
  <i class="close icon"></i>
  <div class="header" style="text-align: center">
    <%= message %>
  </div>
</div>
<% end %>
