<html>
    <body>
        <h3>Hi  <%= (@following.username.titleize) %>, </h3>
        <p><%=  (@follower.username.titleize)  %> is now following you</p>
        <p>click the link below to reply</p>
        <%= user_url (@follower) %>
    </body>
</html>
