<html>
    <body>
        <h3>Hey there! 👋 </h3>
        <p>Following is the magic link for quickly signing in to Onozor.</p>
        <p>click the link below to login</p>
        
        <%= link_to "http://www.onozor.com/#/authenticate/login-token/#{ @user.login_token }", "http://www.onozor.com/#/authenticate/login-token/#{ @user.login_token }" %>
        <p>See you soon!</p>
        <p>Cheers,</p>
        <p>Onozor Team</p>
        <%#= question_url (@question) %>
    </body>
</html>