<div class="list_header center_col">Questions</div>

<% @user_questions.each do |question| %>
    <%= render partial: "users/question_summary", locals: {question: question} %>
<% end if @user_questions %>