<% unless @page.check_if_profile_is_complete? %>
        <div class="panel panel-default timeline-panel">
          <div class="panel-heading">
           <div class="row">
             <div class="col-md-4"><i class="fa fa-info"></i> Complete Page Info</div>
             <div class="col-md-6">
               <progress align="center" value="50" max="100" class="time-line-progress"></progress>
               <span class="progress-rate">50% COMPLETE</span>
             </div>
             <div class="col-md-2"></div>
           </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <% if @page.logo? %>
                  <div class="col-md-4 page-wizard disabled">
                    <a href="#" class="timeline-wizard-link">
                      <span class="timeline-wizard-icon"><i class="fa fa-check-circle-o text-success"></i></span>
                      <span>Add a profile picture</span>
                    </a>
                    <p>photo or logo work best</p>
                  </div>
                  <% else %> 
                  <div class="col-md-4 page-wizard">
                    <a href="#" class="timeline-wizard-link">
                      <span class="timeline-wizard-icon"><i class="fa fa-camera camera"></i></span>
                      <span>Add a profile picture</span>
                    </a>
                    <p>photo or logo work best</p>
                  </div>
                <% end %>

             

                <% if @page.logo? %>
                  <div class="col-md-4 page-wizard disabled">
                    <a href="#" class="timeline-wizard-link">
                      <span class="timeline-wizard-icon"><i class="fa fa-check-circle-o text-success"></i></span>
                      <span>Add a Cover Photo</span>
                    </a>
                    <p>Give your page personality</p>
                  </div>
                  <% else %> 
                   <div class="col-md-4 page-wizard">
                    <a href="#" class="timeline-wizard-link">
                      <span class="timeline-wizard-icon"><i class="fa fa-picture-o"></i></span>
                      <span>Add a Cover Photo</span>
                    </a>
                    <p>Give your page personality</p>
                  </div>
                <% end %> 



              <div class="col-md-4 page-wizard">
                <a href="#" class="timeline-wizard-link">
                  <span class="timeline-wizard-icon"><i class="fa fa-compress"></i></span>
                  <span>Add Contact info</span>
                </a>
                <p>Help people find you easily</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>  