<div class='ask-form' id='edit_question_<%= @question.id %>'>
<div class="list-group">
    <div href="#" class="list-group-item disabled">
      Update your questions
    </div>
    <div class='inner-form'>
        <div class='col-md-12'>
      
          <%= form_for @question, url: update_question_page_path(@question),  html: { class: 'form-horizontal', method: 'PUT'}, remote: true  do |f| %>  
            <div class="form-group">         
              <%= f.text_field :name, placeholder: "Enter your question" %>
            </div>    
            <div class="form-group hide-description">    
             <textarea  id="inputEmail3" placeholder="Describe your question"></textarea>
            </div>
            <div class="form-group"> 
              <div class="pull-right set-publish-button">
                <i class='fa fa-camera add-picture'></i> &nbsp
                <%= f.file_field :picture %>
                <button type="submit" class="btn btn-primary">Done Editing</button>
              </div>
            </div>   
          <% end %>
        </div>
      </div>
  </div>
</div>