<div class='col-md-4 page-left-roll-bottom'>
            <div class="list-group">
              <div class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c0.0.480.480/p480x480/11221350_745680205576787_1610145033967326062_n.jpg?oh=7044d129a0087bb920de1a4858815459&oe=571194AF&__gda__=1460681031_35ba7818844bacf9cd723326c2e108fd" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <a class="media-heading">1,434,479 people like this</a></br>
                    <a>People Talking About This</p>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item">6,667 people have been here</a>
              <a href="#" class="list-group-item">Invite friends to like this Page</a>
            </div>

            <div class="list-group about">
              <a href="#" class="list-group-item disabled">
                About
              </a>
              <div class='page-about-map'>
                <img src="https://fbexternal-a.akamaihd.net/static_map.php?v=17&size=322x98&zoom=14&markers=6.45114%2C3.3884&language=en_US&scale=2">
              </div>
              <p class="list-group-item">
                Y-trader.com Buying and selling close to you Y-trader.com, is an online marketplace founded in 2012. The site is the brainchild of y-soft Nigeria...
              </p>
              <p class="list-group-item">
                <i class="fa fa-location-arrow"></i>  No. 4 ISRAEL OLUBIYI UNITY, IBA, OJO, LAGOS
Lagos, Nigeria
              </p>

              <p class="list-group-item">
                <i class="fa fa-phone"></i> 08035656130
              </p>

              <p class="list-group-item">
                <i class="fa fa-globe"></i> 08035656130
              </p>
            </div>