<div class="time-line">
  <div class="page-profile-picture">
    <%= image_tag ('defaultpage.png') %>
    <div class="add-image">
      <i class="fa fa-camera"></i> Add photo
    </div>
  </div>

  <div class="timeline-button">
    <ul>
     <li><a href="#"><i class="fa fa-thumbs-up"></i> Like</a></li>
     <li><a href="#"><i class="fa fa-commenting-o"></i> Message</a></li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-default nav-settings-down">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#">Page</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Massage</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Notifications</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Publishing Tools</a></li>
    </ul>
  </div>
</nav>