<div class="col-sm-4 col-md-5 col-lg-4">
  <div class="thumbnail">
    <img src="https://res.cloudinary.com/hashnode/image/upload/w_400,h_400,c_thumb/v1450467384/rjxy8xoreclzppwynucv.png" class="img-circle" alt="...">
    <div class="caption">
      <h5 class="text-center"><%= tag.name.capitalize %></h5>
      <p class="text-center"><%= tag.name %></p>
      <p class="text-center"><a href="#" class="btn btn-info btn-lg text-center" role="button">Follow</a></p>
    </div>
  </div>
</div>
