<!-- page-content has additional login-screen content -->
<div class="page-content login-screen-content">
  <div class="login-screen-title"> Sign in</div>
  <!-- Login form -->
  <%= form_for(resource,  url: session_path(resource_name)) do |f| %>
    <div class="list-block">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title label">Email</div>
            <div class="item-input">
              <%= f.email_field :email, required: true, :label=> :false,  :placeholder=>"Enter email" %>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title label">Password</div>
            <div class="item-input">
              <%= f.password_field :password, required: true, :label=> :false, :placeholder=>"Enter password" %>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block">
      <ul>
        <li>

          <button type="submit" class="item-link list-button"><i class="glyphicon glyphicon-log-in"></i>&nbspSign in</button>
        </li>
      </ul>

    </div>
 <% end %>
</div>
