<link rel="stylesheet" href="http://soon.ondrejsvestka.cz/css/style.default.css" id="theme-stylesheet">
<div style="background-image: url('http://soon.ondrejsvestka.cz/img/paris.jpg')" class="main">
  <div class="overlay"></div>
  <div class="container">
    <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></p>
    <h1 class="text-center"><%= link_to (image_tag "logo-icon.png"), root_path %></h1>
    <h1 class="cursive">Coming soon</h1>
    <h2 class="sub">We are working on giving you an awesome blogging expirence.</h2>
    <div class="mailing-list">
      <h3 class="mailing-list-heading">Join our mailing list and we will notify you once it is ready!</h3>
      <div class="row">
        <form class="form-inline">
          <div class="form-group">
            <label for="email" class="sr-only"></label>
            <input type="email" placeholder="jane.doe@example.com" id="email" class="form-control transparent">
          </div>
          <button class="btn btn-danger">subscribe </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;2016 <a href="/">Onozor LTD</a></p>
        </div>
        <div class="col-md-6">

           <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
        </div>
      </div>
    </div>
  </div>
</div>
