<!-- Page Content -->
   <div class="container about">

       <!-- Introduction Row -->
       <div class="row top">
           <div class="col-lg-12">
               <h1 class="page-header text-center">Get answers
                   <small>And that's it! Quite simply . . .</small>
               </h1>
               <p class="about-section-desc">Onozor's mission is to share and grow the world's knowledge. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Quora makes it easy to get your questions answered, share your own knowledge, and browse the most interesting information people across the world want to share.</p>
           </div>
       </div>


       <!-- Team Members Row -->
       <div class="row white-bg">
          <div class="col-lg-12 text-center about-desc">
               <h2 class="page-header">About Onozor</h2>
           </div>
           <div class="col-lg-6 col-sm-6 about-desc">

               <h3>We exist so you could ask questions
               </h3>
               <p>Onozor's mission is to share and grow the world's knowledge. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Quora makes it easy to get your questions answered, share your own knowledge, and browse the most interesting information people across the world want to share.</p>
           </div>
           <div class="col-lg-6 col-sm-6 about-desc">

               <h3>You could ask questions
               </h3>
               <p>Onozor's mission is to share and grow the world's knowledge. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Quora makes it easy to get your questions answered, share your own knowledge, and browse the most interesting information people across the world want to share.</p>
           </div>
           <div class="col-lg-6 col-sm-6 about-desc">
               <h3>You could ask questions
               </h3>
               <p>Onozor's mission is to share and grow the world's knowledge. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Quora makes it easy to get your questions answered, share your own knowledge, and browse the most interesting information people across the world want to share.</p>
           </div>
           <div class="col-lg-6 col-sm-6 about-desc">
               <h3>You could ask questions
               </h3>
               <p>Onozor's mission is to share and grow the world's knowledge. We want to democratize access to knowledge of all kinds—from politics to painting, cooking to coding, etymology to experiences—so if someone out there knows something, anyone else can learn it. Quora makes it easy to get your questions answered, share your own knowledge, and browse the most interesting information people across the world want to share.</p>
           </div>
       </div>

       <!-- Team Members Row -->
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 class="page-header">Meet The Team</h2>
           </div>
           <div class="col-lg-4 col-sm-6">
               <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
               <h3 class="about-person-desc text-center">Alex Onozor
                   <small>Software Developer at Andela</small>
               </h3>
               <p class="about-desc">Alex brings on an experience with Ruby on Rails and seamlessly merges with a dream to provide a platform where just about anyone could ask just about anything, and get really helpful response. He's a lover of soccer and tennis!</p>
           </div>
           <div class="col-lg-4 col-sm-6">
               <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
               <h3 class="about-person-desc text-center">Innocent Amadi
                 <small>Software Developer at Andela</small>
               </h3>
               <p class="about-desc">A passion for problem solving fit with machine accuracy when Innocent was introduced to the Onozor project. Since then, he has put in both computer and people skills to ensure Onozor stays friendly and relevant.</p>
               <p class="about-desc">Innocent swims and explores even more code in his spare time, and blogs about his findings at <a href="http://blog.cent.tech">blog.cent.tech</a>
           </div>

           <div class="col-lg-4 col-sm-6">
               <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
               <h3 class="about-person-desc text-center">Stephen Sunday
                 <small>Software Developer at Andela</small>
               </h3>
               <p class="about-desc">An outstanding communicator with great interpersonal skills, Stephen delights in drawing upon seemingly trivial problems and creating great, indispensible solutions or automations to them using Software development as a tool for this.</p>
               <p class="about-desc">Stephen contributes greatly to open-source projects in spare time</p>
           </div>

       </div>
</div>
