// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//.activity {
//  background-color: #ffffff;
//  margin-bottom: 10px;
//  padding: 15px;
//  font-size: 13px;
//  box-shadow: 0 1px 2px #c9cccd;
//  a, a:active, a:hover{
//    color: black !important;
//    text-decoration: none;
//  }
//}

#note {
  max-height: 350px;
  overflow: scroll;
  .activity {
    width: 370px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    box-shadow: none;
    padding:6px 14px;
    &:hover {
        background-color: rgba(29, 180, 193, 0.05) !important;
    }
  }
}

.notification-waiter {
  color: #112627 !important;
  font-size: 18px;
  line-height: 0px;
  padding: 0px;
  display: inherit;
  position: relative;
  top: 5px;
}

.false {
  background-color: rgba(29, 180, 193, 0.15) !important;
  a, a:active, a:hover{
    color: black !important;
    text-decoration: none;
  }
}

.true {
  background-color: #ffffff !important;
  a, a:active, a:hover{
    color: black !important;
    text-decoration: none;
  }
}
