

.clear-top{
  margin-top: 71px;
}

.tags{
  background-color: #bdc3c7;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans Bold', sans-serif;
}

.topic-button{
  border-color: transparent;
  background-color: #1DB4C1;
  color: #ffffff;
}

.my-comic{
	color: white;
	&:hover{
		text-decoration: none;
		color: white;
	}
}

.greetings {
  background-image: url('greetings.png');
  width: 100% !important;
  padding: 30px;
  background-size:  100%;
  background-repeat: no-repeat;
  h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
  p {
    text-align: center;
  }
}
