a {
    background: 0 0;
    color: #262626;
    text-decoration: none;
}

a:hover {
  color: #0AB3C1;
}

.ui.fixed.menu+.ui.grid {
    padding-top: 6rem;
}


.ui.grid+.grid {
  margin-top: 1rem !important;
}

.top-header {
}



.top-header h1 {
  font-size: 39px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.top-header h3 {
  color: #fff !important;
}

body {
  background: #eceff1;
}


.done {
  text-decoration: line-through !important;
}

.read-text, .answer p  {
  font-size: 17px;
  color: #455A64;
}

.space-level {
  margin-top: 1% !important;
}

.space-level-0 {
  margin-top: 3% !important;
}

.space-level-1 {
  margin-top: 15% !important;
}

.space-level-2 {
  margin-top: 20% !important;
}

.space-level-3 {
  margin-top: 30% !important;
}


.commnet-form {
  height: 4em !important;
}

.you-may-like a {
  margin-top: 12px;
  font-size: 15px;
  color: #495D41 !important;
}


.side-label {
    margin-bottom: -5px;
    font-size: larger;
    font-weight: 800;
}

.align-logo {
  padding: 5px 0px;
}

.notification {
  color: #455A64;
}

.notification:hover {
  color: #455A64;
}

.notification-label {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  color: #455A64;
}

.notifications {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  /*margin-bottom: 10px;*/
  border-radius: 0px !important;
}

.notifications a {
  font-weight: 400;
  color: #455A64;
}


.notifications:last-child {
  border-bottom: 0px;
}
.unseen {
  background: rgba(33, 133, 208, 0.09);
}

.pull-left {
  float: left;
  text-align: left;
}

.pull-right {
  float: right;
  text-align: right;
}

#timeline {
  height: 50vh;
  width: 100%;
  background: #455A64;
}

.timeline-details {
  margin-top: -136.5px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #cfd8dc;
  background: #fff;
  position: relative;
}

.absolute {
  position: absolute;
}

.profile-picture {
  top: -70px;
  left: 100px;
  position: absolute !important;
  border: 4px solid #ECEFF1;
  background: #ECEFF1;
  width: 200px !important;
}

.profile-details {
  margin-left: 10px;
  color: #455A64;
}

.profile-name {
  font-size: 38px;
  color: #455A64;
}

.tagline {
  line-height: 0;
  font-size: 20px;
  font-weight: 400;
}

.profile-social {

}

.following {
  margin-top: 30px;
}

.following a {
  color: #455A64;
  padding-left: 10px;
  font-weight: bold;
}


.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15);
    border: 0px !important;
}

.set-category-form {
  width: 100%;
}

.question-link a {
  color: black !important;
  font-size: 1.1em;
  line-height: 1.250em;
}

.question-description {
  color: #757575 !important;
  text-align: justify;
  font-size: 12px !important;
}

.icon-size {
  font-size: 1.5em !important;
  color: rgb(224, 225, 226);
  outline: 0px;
  cursor: pointer;
}


.reply {
  margin: 30px 0px;
}

.author {
  text-transform: capitalize;
}

#question-submit-button {
  margin-bottom: 20px;
  clear: both;
  position: absolute;
  bottom: -19px;
  right: -5px;
  border-radius: 0px;
  border-left: none;
}

.answer-settings, #first-answer {
  margin-bottom: 30px;
}

.ui.comments {
    margin: 1.5em 0;
    max-width: 100%;
}

.notifiaction-light {
  -webkit-animation-name: example !important; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s !important; /* Chrome, Safari, Opera */
  animation-name: example !important;
  animation-duration: 4s !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.vote-count {
  font-weight: bolder !important;
  font-size: large;
  color: black;
  margin: 0px 10px;
}

#comment_link {
  margin-left: 20px;
}

.user_details {
  font-weight: normal;
  color: #9E9E9E;
  font-size: smaller;
}

.share-name {
  text-align: center;
  margin-bottom: 10px;
}

.content-margin {
  margin: 20px 0px !important;
}


.loader-margin {
  margin-top: 20px  !important;
  margin-bottom: 20px  !important;
}


.result .description {
  display: none !important;
}


.ui.search>.results .result .image {
    float: right;
    overflow: hidden;
    background: 0 0;
    width: 30px;
    height: 2em;
    border-radius: .25em;
}

.error-message, .error-message-answer {
  display: none;
}

.popup {
  color: #FF0000 !important;
}

#follow_form > form {
  display: inline !important;
}

pre {
  display: block;
  padding: 7.5px;
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  overflow: auto;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

.badge {
  top: 7px;
  position: absolute;
  right: 17px;
  padding: 6px;
  background: #00b360;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}

.display {
  display: block !important;
}

.ui.small.select-friends {
  width: 640px;
  margin: 0 0 0 -360px;
}


body.pushable>.pusher {
  background: #eceff1;
}

.content-panel {
  background: #FAFAFA !important;
  .header {
    font-weight: 200 !important;
  }
  p {
    font-size: 12px !important;
    margin-top: 10px !important;
  }
}


progress {
/* style rules */
-webkit-appearance: none;
   appearance: none;

 background: red;
 appearance: none;
 border: none;
 width: 100%;
 height: 20px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-bar {
/* style rules */
    background: #43c5d0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
progress::-webkit-progress-value {
/* style rules */
background: #43c5d0;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
progress::-moz-progress-bar {
/* style rules */
background: #43c5d0;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

progress:not { background-color: #000000; }


.footer-settings p {
  font-size: 12px!important;
  color: #607D8B!important;
}

.date {
  font-size: 12px !important;
  color: #607D8B !important;
}


.user_category {
  a {
    font-size: 16px !important;
    color: #607D8B !important;
    font-weight: 400 !important;
    padding-left: 0px !important;
  }
  img {
    width: 30px !important;
    display: inline !important;
    border-radius: 100% !important;
    margin-right: 2px !important;
    border: 1px solid rgba(0,0,0,.1) !important;
  }
}

.ui.card {
  border-radius: 0px !important;
  border: 1px solid #E0E0E0 !important;
  box-shadow: 0 1px 2px #E0E0E0 !important;
}

@media only screen and (max-width: 767px) {
  .ui.grid {
      width: 100%!important;
      margin: 0!important;
      box-shadow: none!important;
      padding: 0rem!important;
  }
}

.site-intro {
  border-radius: 0px !important ;
  // margin: 0rem 0 !important;
  background: #2986F2;
  background: -webkit-linear-gradient(left top,#2BC2F1,#2986F2);
  background: -o-linear-gradient(bottom right,#2BC2F1,#2986F2);
  background: -moz-linear-gradient(bottom right,#2BC2F1,#2986F2);
  background: linear-gradient(to bottom right,#2BC2F1,#2986F2);
}


.desktop-only {
  display: none !important;
}

 .mobile-only {
   display: none !important;
 }

@media only screen and (min-width:769px) {
  .desktop-only {
    display: flex !important;
  }

  .info-header {
    margin: auto;
    text-align: center;
    padding: 100px;
    h1 {
      color: #fff;
      font-weight: lighter;
    }
    .bottom-text {
      text-align: center;
      font-weight: lighter;
      h4 {
        color: #fff;
        font-weight: lighter;
      }

      button {
        color: #fff !important;
      }
    }

  }
  .margin-top-for-web {
    margin-top: 20px !important;
  }
}





// for mobile
@media only screen and (max-width: 640px) {
    .mobile-only {
      display: inline-block !important;
    }
}

@media only screen and (max-width: 640px) {
    .mobile-only-for-small-menu {
      display: flex !important;
    }

    .info-header {
      margin: auto;
      text-align: center;

      h1 {
        color: #fff;
        font-weight: lighter;
      }
      .bottom-text {
        text-align: center;
        font-weight: lighter;
        h4 {
          color: #fff;
          font-weight: lighter;
        }

        button {
          color: #fff !important;
        }
      }

    }

    .site-intro {
      border-radius: 0px !important ;
      margin: 0rem 0 !important;
      background: #2986F2;
      background: -webkit-linear-gradient(left top,#2BC2F1,#2986F2);
      background: -o-linear-gradient(bottom right,#2BC2F1,#2986F2);
      background: -moz-linear-gradient(bottom right,#2BC2F1,#2986F2);
      background: linear-gradient(to bottom right,#2BC2F1,#2986F2);
    }
}

.mobile-header {
    width: 100%;
    position: fixed;
    background: #FFF;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0;
    height: auto;
    border-bottom: 1px solid #E0E0E0;
    padding: 9px 0;

    .head-wrap {
      padding: 0 20px;
    }

    .left-column {
      display: flex;
      float: left;
      width: 100px;

      i {
        cursor: pointer;
        margin: 10px 5px;
        font-size: 20px;
        color: #90A4AE;
        font-weight: lighter;
      }
    }



    .right-column {
      ul {
        float: right;
        display: flex;
        height: 20px;
        margin-top: 0px;
        li {
          display: inline-table;
          list-style-type: none;
          margin: 0px 10px;
          a {
            margin-top: 1px;
            i {
              font-size: 20px;
              margin: 10px 5px;
              color: #90A4AE;
            }
          }
        }
      }
    }
}


.seach-holder {
  display: none;
  width: 100%;
  height: 35px;
  background-color: #fff;
  position: relative;
  top: 48px;
  form {
    position: relative !important;
    max-width: 100% !important;
    position: absolute !important;
    width: 100% !important;
    input {
      border-left: 0px !important;
      border-right: 0px !important;
      border-radius: 0px !important;
    }
  }
}
