// Place all the styles related to the user_category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.category_modal label {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
}

.category_modal input {
    position: absolute;
    display: none;
}


.label_name {
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 1.3em;
    padding: 5px;
    width: 105px;
    background: #333;
    font-size: 12px;
    left: 0;
    bottom: 0px;
}

.category_modal img {
    width: 104px;
    height: 104px;
    margin: 0px;
    display: block;
}

.save-cat {
  position: relative !important;
}

.selected {
    background: url("check.png");
    background-size: contain;
    position: absolute;
    z-index: 1000;
    top: 5px;
    bottom: 1000px;
    display: block;
    width: 17px;
    height: 16px;
    padding: 10px;
    border: 3px solid #FBFBFB;
    border-radius: 50%;
    background-color: whitesmoke;
    left: 74px;
}
