// Place all the styles related to the versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.right-panel {
  height: 100%;
  background: #fff;
  width: 300px;
  border-left: 1px solid #ccc;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  .inner-right {
    width: inherit;
    height: inherit;
    margin-top: 80px;
  }
}

.media-setter {
    width: inherit;
    padding: 9px 11px 1px 8px;
    font-size: small;
    border-top: 1px solid #ccc;
    margin-top: 2px;
}

.media:last-child {
    border-bottom: 1px solid #ccc;
}

.media-left img {
    width: 34px;
    height: 34px;
}
