<div class="ui question  card fluid">
  <div class="items ui content footer-settings">
    <p>&copy; <%= Time.now.year %>  Onozor Interactive.</p>
    <p>Changelog Report 2015 Feedback</p>
    <p>Feature Requests Terms Privacy</p>
  </div>
</div>
