<% unless current_user   %>
  <div class="ui stackable segment  site-intro mobile-only" >
    <div class="info-header">
      <h1>Your questions may lead to a new discovery!</h1>
        <div class="bottom-text">
          <h4>An open, friendly and conversational community for everyone</h4>
          <button class="ui button large   call-modal  basic button">Get Started Now</button>
      </div>
      </div>
    </div>
<% end %>

<% unless current_user  %>
  <div class="ui stackable segment container site-intro desktop-only" >
    <div class="info-header">
      <h1>Your questions may lead to a new discovery!</h1>
        <div class="bottom-text">
          <h4>An open, friendly and conversational community for everyone</h4>
          <button class="ui button large   call-modal  basic button">Get Started Now</button>
      </div>
      </div>
    </div>
<% end %>
