<div class="bs-sidebar hidden-print affix" role="complementary">
      <ul class="nav bs-sidenav">
        
        <li>
         <a class="text-success"><strong><i class="glyphicon glyphicon-subtitles"></i> Popular Category </strong></a>
          <hr>
         <a href="../categories/software-development">Software Dev.</a>
          <a href="../categories/high-school-subjects">High school Subject</a>
          <a href="../categories/sports-questions">Sports</a>
          <a href="../categories/sports-questions">General Computing</a>
          <a href="../categories/religions-question">Religions</a>
          <a href="../categories/health">Health</a>
          <a href="../categories/lifestyle">Lifestyle</a>
          <a href="../categories/discovery">Discovery</a>
          <a href="../categories/business">Business</a>
          <a href="../categories/polities">Polities</a>
        </li>
   

      </ul>
    </div>
