<div class="question-box">
 <div class="question-label">
   <div class="row">
    <div class="col-sm-1"><h2><i class="fa fa-flag-checkered"></i></h2></div>
    <div class="col-sm-9">
     <h2>Ask a question</h2>
     <p class="small">usually answered in minutes!</p>
    </div>
  </div>
  <form style='display:block;'>
    <textarea class="form-control question-field" maxlength="140" rows="4" placeholder="what's up?"></textarea>
    <textarea class="form-control question-details" rows="4" placeholder="Explain..."></textarea>
    <a class="fa fa-arrows-alt expand-it" data-no-turbolink='true' data-toggle="modal" data-target="#ask-question"></a>
    <div class="panel-footer">
      <a href='#'><i class="fa fa-camera"></i> Photo</a>
      &nbsp;
      <a href='#' class="details-link"><i class="fa fa-list-alt"></i> Details</a>
       &nbsp; <button type="button" class="btn btn-success btn-sm"><span class="call-count">0</span> Submit</button>
    </div>
  </form>
 </div>
</div>
